<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>宿舍管理系统后台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="__STATIC__/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="__STATIC__/css/font.css">
    <link rel="stylesheet" href="__STATIC__/css/xadmin.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
    <script src="__STATIC__/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="__STATIC__/js/xadmin.js"></script>

</head>
<body>
<div class="login-logo"><h1>宿舍管理系统后台</h1></div>
<div class="login-box">
    <form class="layui-form layui-form-pane" action="{:url('@admin/login/dologin')}" method="post">

        <h3>登录你的帐号</h3>
        <label class="login-title" for="username">帐号</label>
        <div class="layui-form-item">
            <label class="layui-form-label login-form"><i class="iconfont">&#xe6b8;</i></label>
            <div class="layui-input-inline login-inline">
                <input type="text" name="username" lay-verify="required" placeholder="请输入你的帐号" autocomplete="off" class="layui-input">
            </div>
        </div>
        <label class="login-title" for="password">密码</label>
        <div class="layui-form-item">
            <label class="layui-form-label login-form"><i class="iconfont">&#xe82b;</i></label>
            <div class="layui-input-inline login-inline">
                <input type="password" name="password" lay-verify="required" placeholder="请输入你的密码" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="form-actions">
            <button class="btn btn-warning pull-right" lay-submit lay-filter="login"  type="submit">登录</button>

        </div>
    </form>
</div>
<div class="bg-changer">
    <div class="swiper-container changer-list">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img class="item" src="__STATIC__/images/a.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="__STATIC__/images/b.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="__STATIC__/images/c.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="__STATIC__/images/d.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="__STATIC__/images/e.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="__STATIC__/images/f.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="__STATIC__/images/g.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="__STATIC__/images/h.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="__STATIC__/images/i.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="__STATIC__/images/j.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="__STATIC__/images/k.jpg" alt=""></div>
            <div class="swiper-slide"><span class="reset">初始化</span></div>
        </div>
    </div>
    <div class="bg-out"></div>
    <div id="changer-set"><i class="iconfont">&#xe696;</i></div>
</div>
</body>
</html>